@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");


body {
  padding: 100px;
  align-items: center;
  align-content: center;
  align-self: center;
}

#ppal {display: flex;}




#imagenfondo, #ima-win, #ima-lose {
  border: 0;
  border-radius: 20px;
}

#game-board {
  display: flex;
}

#div-canvas{
position: absolute;
margin: 180px 0 0 450px;
}

#canvas{
  border: 0;
  border-radius: 20px;
  border-style: groove;
}



.button {
  background-color:rgba(0, 0, 0, 0.3);
  font-family: 'Henny Penny', cursive;
 color: white;
  font-size: 30px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}


.start-btn{
  position: absolute;
  margin: 560px 0 0 180px;
  color: white;
}

#gamebtn{
  position: absolute;
  margin: 520px 0 0 550px;
  
}

#exitbtn{
  position: absolute;
  z-index: 1;
  margin: 110px 0 0 1100px;
  
}

#potions {
  position: absolute;
  align-content: center;
  align-items: center;
}

#lifepoints {
  position: absolute;
  margin-left: 700px;
  align-content: center;
  align-items: center;
  
}

#potions img, #lifepoints img {
  width:100px;
  height: 80px
} 



.progress {
  width: 270px;
  height: 100px;
  position: absolute;
  margin: 80px 0 0 870px;
  background-color: rgb(110, 110, 110);
  
}


#timepos{
  position: absolute;
  margin: 65px 0px 0 660px;
  

}

.progress-bar-animated{
  background-color: green;
}

.progress-bar-striped{
  background-color: green;
}

.progress-bar-green {
  background-color: rgb(7, 155, 14) !important;
}

#number {
  position: absolute;
  margin: 65px 0px 0 800px;
  padding-top: 5px;
  background-color:rgba(0, 0, 0, 0.3);
  font-family: 'Henny Penny', cursive;
  color: white;
  font-size:30px;
  
}


#ima-win, #ima-lose  {
  position: absolute;
  display: none;
  z-index: 1;


}


  